.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
      circle at top left,
      #6a11cb,
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      #2575fc,
      transparent 40%
    ),
    linear-gradient(135deg, #0f2027, #203a43, #2c5364);

  padding: 20px;
}
